input {
  font-size: unset;
}
.sign {
  width: 350px;
  margin: auto;
  padding: 10px;
  border: 1px solid;
  margin-bottom: 50px;
}
button {
  width: 100% !important;
}
.btn {
  justify-content: center;
  max-width: none;
}
